.container {
  display: grid;
  place-items: center;
}

.message {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem;
}

.postForm {
  margin: 1rem;
}

.content {
  display: grid;
  place-items: center;
  min-height: 100vh;
}
